* {
    font-family: Arial, Helvetica, sans-serif;    
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #9efca3, #e0c3fc);
    display: flex;
    justify-content: center;
    align-items: center;

}

.todo-card {
    position: relative;

    display : flex;
    flex-direction: column;

    border-radius: 15px;
    background-color: rgb(149, 114, 192);
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    height: 600px;
    width: 450px;
    padding : 0px;
    overflow: hidden;
}

.todo-header {
    text-align: center;
    padding: 10px 0px;
    margin: 0px;
    background-color: rgb(240, 255, 127);
}

.todo-filter {
    display: flex;
    justify-content: center;
    gap : 40px;
    padding: 5px 0px;
}

.todo-filter span {
    cursor : pointer;
    color : white;
    padding: 7px 12px;
}

.todo-filter span.active {
    background-color: rgb(247, 176, 210);
    border-radius: 8px;
    color: blue;
    font-weight: 600;
}

.todo-input {
    display: flex;
    justify-content: space-between;
    gap : 8px;
    margin: 12px;
}

.todo-title {
    margin: 0px;
}

.todo-field {
    flex: 1;
    padding: 12px 12px;
    border : transparent;
    border-radius: 10px;
    cursor: pointer;
}

.todo-field:focus {
    outline : 2px solid red;
}

.add-btn {
    border: none;
    background-color: burlywood;
    border-radius: 12px;
    padding: 0px 12px;
    margin-left: 2px;
    cursor: pointer;
    font-weight: 600;

}

.add-btn:focus {
    outline : 2px solid red;
}

.todo-list {
    list-style: none;

    flex : 1;
}

.todo-item {
    list-style: none;
    display: flex;
    gap: 10px;
    padding : 10px 10px;
    margin: 10px 12px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    cursor: pointer;
}

.todo-item:hover .del-btn {
    opacity: 1;
    color: red;
}

.todo-list {
    padding : 0px;
    max-height : 290px;
    overflow : auto;
    margin-bottom : 20px;

}

.item-content {
    flex: 1;

    overflow : hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.checkbox {
    position : relative;

    background: white;
    height: 20px;
    width: 20px;
    border-radius: 8px;

    flex-shrink: 0;
}

.check-icon {
    position: absolute;

    color : white;

    top: 50%;
    left: 50%;

    transform : translate(-50%, -50%);


    opacity : 0;

}

.checkbox.completed {
    background-color: rgb(149, 114, 192);

}

.checkbox.completed .check-icon {

    opacity : 1;
}

.item-content.completed {
    text-decoration: line-through;
}

.mark-all-as-done{
    display: flex;
    justify-content: center;
}

.mark-all-as-done button {
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
    
    border: 1px solid yellow;
    background-color: transparent;
    color: yellow;
    font-weight: 700;

    cursor: pointer;
}

.del-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: 0.2s;
}

.todo-footer {
    border-top: 1px solid black;

    padding: 10px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-remains {
    padding : 5px 40px;
    color: rgb(230, 232, 227);
}

.task-count {
    font-weight: 1000;
    color : yellow;
    
}

.delete-all-done {
    margin : 5px 20px;
    padding: 5px 5px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    cursor: pointer;
}

.delete-all-done:hover {
    font-weight: 700;
    background-color: rgb(255, 0, 0);
    border-radius: 8px;
}

.toast-mess {
    position: fixed;
    display : flex;
    justify-content: center;
    align-items: center;

    opacity: 0;

    top: 20px;
    right: 20px;

    height: 50px;
    width: 300px;
    background: rgba(255, 255, 255, 0.85);
    color: #2f2f2f;
    border-radius: 14px;

    transform: translateX(400px);
    transition: 0.3s;
}

.toast-mess.active {
    opacity: 1;
    transform: translateX(0px);
}



